.news-dashboard {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section {
  margin-bottom: 20px;
}

.section h2 {
  margin-bottom: 10px;
  font-size: 1.8rem;
  color: #0056b3;
}

.article {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  transition: transform 0.2s ease-in;
}

.article:hover {
  transform: translateY(-3px);
}

.article h3 {
  font-size: 1.2rem;
  color: #333;
}

.article button {
  padding: 5px 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.article button:hover {
  background-color: #218838;
}

.category-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.category-buttons button {
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: burlywood;
}

.category-buttons button:hover {
  background-color: rgb(230, 135, 10);
}

@media screen and (max-width: 500px) {
  .category-buttons {
    flex-direction: column;
    gap: 5px;
    width: 100%;
  }
  .category-buttons button {
    width: 100%;
  }
}
